<!--My portfolio -->
<!-- OPhni R Brice -->
<!-- ID 300902646 -->



<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main content -->
<main class="container">
<div class="jumbotron">
<h1 class="display-4"><h1>Welcome to the <%= title %> page </h1> 


<%- include('./Content/' + page + '.ejs') %>


</div>
</main>

 
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>


